<h1>Opportunities for Improvement</h1>

<% @opportunities.each do |opp| %>
  <div class="hot-box col-xs-10 col-xs-offset-1">
    <h2>Opportunity: <%= opp.opportunity %></h1>
    <%= opp.exploit %> </br></br>
    <%= opp.priority %></br></br>
  </div>
<% end %> 

